{% doc %}
  Renders a text block.

  @example
  {% content_for 'block', type: 'text', id: 'text' %}
{% enddoc %}

{% liquid
  case block.settings.text_style
    when 'text--title'
      assign style_classes = 'text-3xl font-bold'
    when 'text--subtitle'
      assign style_classes = 'text-2xl'
    else
      assign style_classes = 'text-base'
  endcase

  case block.settings.alignment
    when 'left'
      assign align_class = 'text-left'
    when 'center'
      assign align_class = 'text-center'
    when 'right'
      assign align_class = 'text-right'
    else
      assign align_class = 'text-left'
  endcase
%}

<div
  class="{{ style_classes }} {{ align_class }}"
  {{ block.shopify_attributes }}
>
  {{ block.settings.text }}
</div>

{% schema %}
{
  "name": "t:general.text",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "t:labels.text",
      "default": "Text"
    },
    {
      "type": "select",
      "id": "text_style",
      "label": "t:labels.text_style",
      "options": [
        { "value": "text--title", "label": "t:options.text_style.title" },
        { "value": "text--subtitle", "label": "t:options.text_style.subtitle" },
        { "value": "text--normal", "label": "t:options.text_style.normal" }
      ],
      "default": "text--title"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "t:labels.alignment",
      "default": "left"
    }
  ],
  "presets": [{ "name": "t:general.text" }]
}
{% endschema %}
