<div class="full-width relative overflow-hidden w-full">
  {% if section.settings.background_image %}
    <div class="absolute inset-0 -z-10 overflow-hidden">
      {{
        section.settings.background_image
        | image_url: width: 2000
        | image_tag: class: 'absolute w-full h-auto top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 object-cover'
      }}
    </div>
  {% endif %}

  <div class="grid" style="grid-template-columns: var(--content-grid)">
    <div class="col-start-2 col-end-3 py-12 px-4 md:px-8">
      {% content_for 'blocks' %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:general.custom_section",
  "blocks": [{ "type": "@theme" }],
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:labels.background"
    }
  ],
  "presets": [
    {
      "name": "t:general.custom_section"
    }
  ]
}
{% endschema %}
