{% comment %}
  This section is used in the page template to render store pages like About us
  or Contact us.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/page
{% endcomment %}

<article class="py-8 px-4 md:px-8 max-w-4xl mx-auto">
  <h1 class="text-3xl md:text-4xl font-bold mb-8">{{ page.title }}</h1>

  <div class="prose prose-neutral max-w-none">
    {{ page.content }}
  </div>
</article>

{% schema %}
{
  "name": "t:general.page",
  "settings": []
}
{% endschema %}
